html {
    overflow-x: hidden;
}

body {
    background: black;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

h1,h2,h3 {
	font-family: "Open Sans", sans-serif;
}

#intro a {
	font-family: "Open Sans", sans-serif;
}

#title-text {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}

a:visited, a:link, a:active {
    color: grey;
    text-decoration: none;
}

.parent {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    margin: 0 auto;
    width: 70%;
}

.dropdown-menu {
	background: white;
	border: 0px;
	box-shadow: unset;
	border-radius: 0px;
	min-width: 100% !important;

}

.flex {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.show {
	display: initial;
}

.hide {
    display: none;
}

.aButton {
    padding: 10px;
    /* border: 1px solid white; */
    margin: 0 50px;
}

.navbar-inverse {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
	z-index: 50;
}

#aaa {
	z-index: 100;
}

.socialDiv {
    justify-content: center;
    align-items: flex-end;
}

.socialDiv .fa {
    margin: 0 5px;
}

.big {
    font-size: 50px;
}

.dev-icon {
    font-size: 75px;
    margin: 0 25px;
}

.small {
    font-size: 24px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-grey {
    color: grey;
}

.text-grey:hover {
    color: white;
    text-decoration: none;
}

.brand-image {
    height: 100%;
}

.techIcons i {
    font-size: 125px;
}

/* icon color changes */

.devicons-html5:hover {
    color: #e44d26;
}

.devicons-css3:hover {
    color: #0c73b5;
}

.devicons-javascript:hover {
    color: gold;
}

.devicons-jquery:hover {
    color: #78cef4;
}

.devicons-heroku:hover {
    color: #6661a5;
}

.devicons-github_badge:hover {
    color: white;
}

.devicons-git:hover {
    color: #f34f29;
}

.devicons-bootstrap:hover {
    color: #614789;
}

.devicons-mongodb:hover {
    color: #409d39;
}

.devicons-mysql:hover {
    color: #00618a;
}

.devicons-nodejs_small:hover {
    color: #8cc84b;
}

.devicons-react:hover {
    color: #00d7ff;
}

.devicons-npm:hover {
	color: #cd3632;
}

.devicons-materializecss:hover {
	color: #ee6e73;
}

.fa-expand {
	width: 42px !important;
}

.fa-facebook:hover {
    color: #496ab3;
}

.fa-linkedin:hover {
    color: #0077b5;
}

/* Pulse Grow */

@-webkit-keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}

@keyframes hvr-pulse-grow {
    to {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }
}
/* img grow */
img.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
img.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(2.2);
  transform: scale(2.2);
}

/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-pulse-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
}

.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
    -webkit-animation-name: hvr-pulse-grow;
    animation-name: hvr-pulse-grow;
    -webkit-animation-duration: 3.0s;
    animation-duration: 3.0s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 50px rgba(255, 255, 0, 0.6);
}


/* about me styling */

#aboutMeSection, #portfolioSection, #contactSection {
    background-color: black;
    color: white;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#contactSection {
	margin-top: 65px;
}

#inputs {
	width: 50%;
	margin: 0 auto;
}


/* for fade in animation */

.fadeIn {
    -webkit-animation: fadein 3.0s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3.0s;
    /* Firefox < 16 */
    -ms-animation: fadein 3.0s;
    /* Internet Explorer */
    -o-animation: fadein 3.0s;
    /* Opera < 12.1 */
    animation: fadein 3.0s;
    animation-fill-mode: forwards;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fadeOut {
    -webkit-animation: fadeout 3.0s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadeout 3.0s;
    /* Firefox < 16 */
    -ms-animation: fadeout 3.0s;
    /* Internet Explorer */
    -o-animation: fadeout 3.0s;
    /* Opera < 12.1 */
    animation: fadeout 3.0s;
    animation-fill-mode: forwards
}

@keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Internet Explorer */

@-ms-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* -------------------------------------------------------------*/

#portfolioMain {
	width: 70%;
}

#portfolioMain .row {
	margin-top: 25px;
}

#portfolioHeading {
	margin-top: 0;
}

#portfolioHeading h1 {
	margin-top: 65px;
}

.picControls {
	background-color: black;
	width: 100%;
	font-size: 3em;
	z-index: 25;
}

.parent-col {
	display: flex;
  	justify-content: center;
  	align-items: center;

}

/* ---------- Modal CSS ---------- */

#modalImg {
	border: 2px solid black;
	margin: 0 auto;
	width: 80%;
	box-shadow: 7px 7px 5px #888888;
}

#modalList {
	width: 95%;
	margin: 15px auto;
}

#modalDesc {
	width: 80%;
	margin: 0 auto;
}

#modalGithub {
	background-color: black;
	color: white;
}

#modalHeroku {
	background-color: #6661a5;
	color: white;
}

#modalHeroku i {
	color: white;
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

.btn {
	border-radius: 0px;
}

.form-control, .input-group, .input-group-lg, .input-group-addon {
	-webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.col-md-5 {
	padding: 0px;
}

#textarea, #nameRow {
	margin-top: 24px;
}

#sendButton {
	margin-top: 12px;
	color: grey;
}

#sendButton:hover {
	color: black;
}
